{% extends "base.html" %}

{% block content %}


<br><br>
{% if api %}

{% if api == 'Error with response converting to json' %}

<p>{{api}}</p>
{% else %}

<div class="jumbotron {{ category_color }}">
  <h1 class="display-4">{{  api.0.Category.Name }}</h1>
  <p class="lead">Current {{  api.0.ReportingArea }} Air quality: {{ api.0.AQI }}</p>
  <p>{{aqi_descr}}</p>
</div>

<br>

<table class="table">
    <thead class="thead-dark">

    </thead>
    <tr >
        <th scope="col">zip code</th>
        <th scope="col">Air quality</th>
        <th scope="col">Area</th>
        <th scope="col">Category Name</th>
    </tr>

    {% for item in api %}
    <tr class = {{ category_color }}>
        <td>{{ zipCode }}</td>
        <td>{{ item.AQI }}</td>
        <td>{{ item.ReportingArea }}</td>
        <td>{{ item.Category.Name }}</td>
    </tr>

    {% endfor %}

</table>


{% endif %}

{% endif %}


{% endblock %}
